################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/HelloAPI/.vs/HelloAPI
/HelloAPI/HelloAPI/obj
/HelloAPI/HelloAPI/bin
/HelloAPI/HelloAPI/Controllers/v2/*
/HelloAPI/HelloAPI/Controllers/v3/*
/HelloAPI/HelloAPI/Models/DBContext/*
/HelloAPI/HelloAPI/Utilities/*
!.getkeep
